html {
    font-size: 20px;
}
body {
    /* Old browsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #35577D, #141E30);
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
    padding: 0;
}
.header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFF;
    padding: 80px 50px 50px 50px;
    max-width: 100%;
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.tittle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 25pt;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #808080;
}
.welcome {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin: 50px auto;
    font-size: 18pt;
    font-family: 'Montserrat', sans-serif;
    color: #141E50;
}
a, .header span {
    color: #B22222;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.buttom {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFF;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: center;
    max-width: 200px;
    max-height: 100px;
    display: block;
    border: 5px solid #FFF;
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px;
    overflow-wrap: break-word;
}
.text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFF;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
}
.project {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgb(114, 24, 24);
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: center;
    max-width: 400px;
    max-height: 200px;
    display: inline-block;
    border: 5px solid rgb(114, 24, 24);
    border-radius: 15px;
    margin: 20px 50px 50px 50px;
    padding: 20px;
    overflow-wrap: break-word;
}
div {
    text-align: center;
}
.contact {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    margin: 20px 20px 20px 50px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.send {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    text-shadow: none;
    font: bold 15px 'Montserrat', sans-serif;
}
label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFF;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    margin: 20px 20px 20px 50px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}