html, body {
    margin: 0;
    height: 100%;
}

body {
    /* Old browsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #35577D, #141E30);
    background-attachment: fixed;
    background-size: 100%;
}
.container {
    height: 90%;
}

.header {
    color: #FFF;
}
.tittle {
    color: #808080;
    margin: 5%;
    margin-bottom: 2%;
}

.header a, .header span {
    color: #B22222 !important;
    text-decoration: none;
    font-size: 1em;
}
.buttom {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    max-width: 200px;
    max-height: 100px;
    border: 5px solid #FFF;
    margin: 2% auto;
    overflow-wrap: break-word;
    flex-wrap: nowrap;
}

.formulario {
    color: #FFF;
}

.logo{
    opacity: 50%;
}
.fondo {
    position: fixed;
    z-index: -1;
    left: 0px;
    bottom: -10px;
    max-width: 500px;
    min-width: 300px;
    opacity: 30%;
}

.navbar {
    background-color: #141E30;
}