* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
@media (max-width: 1280px) {
    * { font-size: 14px; };
}
@media (max-width: 800px) {
    * { font-size: 12px; }
    .fondo img {
    position: fixed;
    left: 0px;
    bottom: 0px;
    max-width: 100px;
    }
    .container{
        flex-direction: column;
    }
    .media{
        display: flex;
        flex-direction: row;
    }
}
body {
    /* Old browsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #35577D, #141E30);
    background-attachment: fixed;
    background-size: 100%;
}
.header {
    color: #FFF;
    padding: 8%;
    max-width: 100%;
    font-size: 4em;
    text-align: center;
}
.tittle {
    font-size: 25pt;
    text-align: center;
    color: #808080;
}
.welcome {
    text-align: center;
    margin: 50px auto;
    font-size: 18pt;
    color: rgb(255, 255, 255);
}
a, .header span {
    color: #B22222;
    text-decoration: none;
    font-size: 1em;
}
.buttom {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    max-width: 200px;
    max-height: 100px;
    display: block;
    border: 5px solid #FFF;
    border-radius: 15px;
    margin: 2% auto;
    padding: 2%;
    overflow-wrap: break-word;
}
.text {
    color: #FFF;
    font-size: 20px;
    text-align: center;
}
.project {
    color: rgb(114, 24, 24);
    text-decoration: none;
    text-align: center;
    max-width: 400px;
    max-height: 200px;
    display: inline-block;
    border: 5px solid rgb(114, 24, 24);
    border-radius: 15px;
    margin: 5% auto;
    padding: 30px;
    overflow-wrap: break-word;
}
div {
    text-align: center;
}
nav {
    justify-content: center;

}
.container{
    display: flex;
}
.column1{
    text-align: left;
    width: 100%;
    margin: 5%;
}
.column2{
    text-align: center;
    width: 100%;
    margin: 5%;
}
.media {
    display: flex;
    flex-direction: column;
}
.contact {
    width: 90%;
    height: 50%;
    margin: 1% 10% 2% 10%;
    padding: 1%;
}
.formulario {
    color: #FFF;
    font-size: 20px;
    margin: 10%;
}
.send {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    width: 90%;
    height: 50%;
    margin: 1% 10% 2% 10%;
    padding: 1%;
    text-shadow: none;
    font-size: 20px;
}
textarea {
    width: 90%;
    height: 50%;
    margin: 1% 10% 2% 10%;
    padding: 1%;
    font-size: 20px;
}
.logo{
    max-width: 10%;
    margin: 5%;
}
.fondo {
    position: fixed;
    left: 0px;
    bottom: -10px;
    max-width: 500px;
    min-width: 300px;
    opacity: 30%;
}